// can be attributed to https://www.youtube.com/watch?v=T4VE_6v9hFs

.blinking {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {background-color:#4c9eed;}
    50% {background-color:transparent;}
    100% {background-color:#4c9eed;}
}