h1, h2, h3, h4, p, a, li {
    font-family: "Parkinsans", serif;
    // font-weight: 400;
    line-height: 2;
}

h1 {
    font-size: 48px; 
}

h2 {
    font-size: 30px; 
}

h3 {
    font-size: 24px; 
}

h4 {
    font-size: 16px; 
}

.comfortaa {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    line-height: 1.5;
}

.body {
    font-family: "Parkinsans", serif;
    font-weight: 400;
}


.header {
    font-family: "Parkinsans", serif;
    font-weight: 600;
}

.spaced-header{
    @apply text-center my-6;
}

// strong {
//     font-weight: 600;
// }